<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["roomName"]</title>
    <link rel="stylesheet" href="~/css/both.css">
    <link rel="stylesheet" href="~/css/room.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/treblesmall.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet" type="text/css">
    <script src="~/js/spin.js"></script>
    <script>var mobileBrowser = false;</script>
    <script>var roomType = "@ViewData["roomType"]"; var roomName = "@ViewData["roomName"]"</script>
    <script src="~/js/roombundle.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body style="overflow: hidden;">
    <div class="everything" id="div_error">
        <h1> Something went horribly wrong! We're sorry. </h1>
    </div>
    <div class="everything" id="div_loading"></div>
    <div class="everything" id="div_everything">

        <div id="div_all_info">
            <div id="div_users_overall" class="info">
                <div class="dropper arrow-down img_drop_right"></div>
                <p id="p_users_summary"></p>
                <div id="div_user_results" class="results">
                    <input class="myinput" id="input_name" placeholder="type in your name and press enter">
                    <div id="div_inner_user_results"></div>
                </div>
            </div>
            <div class="info" id="div_search">
                <input class="myinput" id="input_search" placeholder="search for podcasts">
                <img id="btn_search" src="~/images/search.jpg" />
                <div id="div_search_results" class="results"></div>
            </div>
            <div id="div_queue_overall" class="info">
                <p id="p_queue_summary">Nothing in the playlist. Queue something!</p>
                <div class="dropper arrow-down img_drop_left"></div>
                <div id="div_queue_results" class="results"></div>
            </div>
        </div>

        <div id="div_current_content">
            <div class="div_player" id="div_yt_player"></div>
            <div class="div_player" id="div_podcast_player">
                <div class="div_inner_podcast_player">
                    <div id="btn_previous"></div>
                    <div id="btn_play_pause"></div>
                    <div id="cc_info">
                        <canvas id="canvas_progress"></canvas>
                        <p id="cc_title"></p>
                        <p id="cc_show"></p>
                    </div>
                    <span class="time" id="cc_time"></span>
                    <span class="time_slash"> / </span>
                    <span class="time" id="cc_duration"></span>
                    <div id="btn_next"></div>
                </div>
                <audio id="html5audio">
                </audio>
            </div>
        </div>

        <div id="div_chat_results">
            <ul id="ul_chat"></ul>
            <input class="myinput" id="input_chat" placeholder="Enter your chat message" />
        </div>

    </div>
</body>
</html>
