<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["roomName"] - Make Podcast Playlists</title>
    <link rel="stylesheet" href="~/css/both.css">
    <link rel="stylesheet" href="~/css/roommobile.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/treblesmall.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet" type="text/css">
    <script src="~/js/spin.js"></script>
    <script>var mobileBrowser = true;</script>
    <script>var roomName = "@ViewData["roomName"]"</script>
    <script src="~/js/roombundle.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body style="overflow: hidden;">
    <div class="everything" id="div_error">
        <h1> Something went horribly wrong! We're sorry. </h1>
    </div>
    <div class="everything" id="div_loading"></div>
    <div class="everything" id="div_everything">

        <div id="div_sel">
            <span id="btn_sel_queue" class="span_sel">queue</span>
            <span id="btn_sel_search" class="span_sel">search</span>
            <span id="btn_sel_users" class="span_sel">playlist</span>
        </div>

        <div id="div_stuff">
            <div id="div_queue_results" class="results stuff"></div>
            <div id="div_search" class="stuff">
                <div id="div_search_in">
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="myinput" id="input_search" placeholder="search for podcasts">
                    <img id="btn_search" src="~/images/search.jpg" />
                </div>
                <div id="div_search_results" class="results"></div>
            </div>
            <div id="div_session_info_results" class="results stuff">
                <p id="p_session_name"></p>
                <p id="p_session_hits"></p>
                <a href="/" id="make_your_own">make another playlist</a>
            </div>
        </div>

        <div id="div_current_content">
            <canvas id="canvas_progress"></canvas>
            <div class="div_player" id="div_podcast_player">
                <div class="div_inner_podcast_player">
                    <div id="btn_play_pause" class="play_btn"></div>
                    <span id="cc_title"></span>
                    <span id="cc_time" class="time"></span>
                </div>
                <audio id="html5audio"></audio>
            </div>
        </div>


    </div>
</body>
</html>

