<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["roomName"]</title>
    <link rel="stylesheet" href="~/css/both.css">
    <link rel="stylesheet" href="~/css/roommobile.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/treblesmall.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet" type="text/css">
    <script src="~/js/spin.js"></script>
    <script>var mobileBrowser = true;</script>
    <script>var roomType = "@ViewData["roomType"]"; var roomName = "@ViewData["roomName"]"</script>
    <script src="~/js/roombundle.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body style="overflow: hidden;">
    <div class="everything" id="div_error">
        <h1> Something went horribly wrong! We're sorry. </h1>
    </div>
    <div class="everything" id="div_loading"></div>
    <div class="everything" id="div_everything">

        <!--<div id="div_all_info">

            <div id="div_users_overall" class="info">
                <div class="dropper arrow-down img_drop_right"></div>
                <p id="p_users_summary"></p>
                <div id="div_user_results" class="results"></div>
            </div>
            <div id="div_queue_overall" class="info">
                <p id="p_queue_summary"></p>
                <div class="dropper arrow-down img_drop_left"></div>
                <div id="div_queue_results" class="results"></div>
            </div>
        </div>

        <div id="div_search">
            <input class="myinput" id="input_name" placeholder="type in your name and press enter">
            <input class="myinput" id="input_search" placeholder="search for podcasts">
        </div>

        <div id="div_chat_results">
            <ul id="ul_chat"></ul>
            <input class="myinput" id="input_chat" placeholder="Enter your chat message" />
        </div>

        <div id="div_search_results" class="results"></div>
        192.168.1.7-->

        <div id="div_sel">
            <span id="btn_sel_queue" class="span_sel">queue</span>
            <span id="btn_sel_search" class="span_sel">search</span>
            <span id="btn_sel_users" class="span_sel">users</span>
        </div>

        <div id="div_stuff">
            <div id="div_queue_results" class="results stuff"></div>
            <div id="div_search" class="stuff">
                <div id="div_search_in">
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="myinput" id="input_search" placeholder="search for podcasts">
                    <img id="btn_search" src="~/images/search.jpg" />
                </div>
                <div id="div_search_results" class="results"></div>
            </div>
            <div id="div_user_results" class="results stuff">
                <input autocomplete="off" autocorrect="off" autocapitalize="on" spellcheck="false" class="myinput" id="input_name" placeholder="type in your name and press enter">
                <div id="div_inner_user_results"></div>
            </div>
        </div>

        <div id="div_current_content">
            <canvas id="canvas_progress"></canvas>
            <div class="div_player" id="div_podcast_player">
                <div class="div_inner_podcast_player">
                    <div id="btn_play_pause" class="play_btn"></div>
                    <span id="cc_title"></span>
                    <span id="cc_time" class="time"></span>
                </div>
                <audio id="html5audio"></audio>
            </div>
        </div>


    </div>
</body>
</html>

