<!DOCTYPE html>
<html>
<head>
    <title>Moosic</title>
    <link rel="stylesheet" href="~/css/homepage.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/treblesmall.png" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/js/homepage.js"></script>
</head>
<body>
    <div class="wrapper">
        <img class="splash" id="img_splash" src="~/images/treble.png" style="height: 300px; width: 125px">
        <h1 class="splash" id="h_splash">Listen to podcasts together. Enter a room name to get started.</h1>
        <div class="search splash">
            <input class="edittext" id="txt_group_join" type="text" placeholder="What's your room name?">
        </div>
        <div id="id_fb_login_btn" class="fb-login-button" onlogin="checkLoginState();" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </div>
</body>
</html>