<!DOCTYPE html>
<html>
<head>
    <title>Moosic</title>
    <link rel="stylesheet" href="~/css/homepagemobile.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/js/homepage.js"></script>
</head>
<body>
    <div class="wrapper">
        <img class="splash" id="img_splash" src="~/images/treble.png" style="height: 300px; width: 125px">
        <h1 style="font-weight: normal; font-size: 8vw;" class="splash" id="h_splash">Listen to podcasts together. Enter a room name to get started.</h1>
        <div class="search splash">
            <input autocomplete="off" autocorrect="off" autocapatilize="on" spellcheck="false" style="border-radius: 0; font-size: 5vw;" class="edittext" id="txt_group_join" type="text" placeholder="What's your room name?">
        </div>
    </div>
</body>
</html>