<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet" type="text/css">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="~/css/yeet.css">
    <script src="~/js/yeet.js"></script>
    <script src="https://www.youtube.com/iframe_api?onload=onYouTubeIframeApiReady"></script>
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <input id="input_search" class="myinput form-control input-lg" placeholder="Hit enter to search"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="background: red;">
            <div id="div_player"></div>
        </div>
        <div class="col-md-4" style="background: blue;"></div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
</body>
</html>