html, body {
    font-family: 'Josefin Sans';
    height: 100%;
    width: 100%;
    margin: 0;
    background: #f1f1f1;
    overflow: hidden;
}

input:focus {
    outline-width: 0;
}

.everything {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0;
}

#div_everything {
    opacity: 0;
}

.div_player {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#div_podcast_player {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90%;
}

#div_all_info {
    display: inline-block;
    width: 100%;
    height: 5vh;
    z-index: 1;
}

#div_cc_results {
    right: 66.66%;
    width: 33.33%;
    bottom: 5%;
}

#div_damn {
    display: flex;
    padding: 1vh;
    background-color: #ff4f39;
    justify-content: center;
}

#div_users_overall {
    padding-left: 1%;
    justify-content: flex-start;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_chat {
    text-align: center;
    display: block;
    background-color: transparent;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}


#div_search_results {
    width: 100%;
    z-index: 1;
    max-height: 90%;
    overflow-y: auto;
}

#div_search_results > p {
    font-size: 5vw;
}

#div_user_results {
    left: 0;
    top: 40%;
    z-index: 1;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}

#div_queue_results {
    width: 100vw;
    top: 40%;
    z-index: 1;
    max-height: 90%;
    overflow-y: auto;
}

.results {
    background: white;
}

.div_result {
    font-family: 'Josefin Sans';
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vw;
}

.div_outer_paging {
    display: flex;
    justify-content: center;
}

.div_paging {
    padding: 2%;
    display: inline-block;
    width: 46%;
    text-align: center;
    cursor: pointer;
    font-size: 7vw;
}

.div_queue_result {
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.result_title {
    font-size: 6vw;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

.div_inner_results {
    padding-left: 1%;
    display: inline-block;
    cursor: pointer;
    width: 84%;
}

.result_description {
    font-size: 5vw;
    margin: 1vw;
}

.search_stuff {
    cursor: pointer;
}

.img_result {
    width: 15vw;
    height: 15vw;
}

#div_queue {
}

#input_search {
    display: none;
}

.myinput {
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #CCCCCC;
    background: #f1f1f1;
    font-size: 5vw;
    font-family: "Source Code Pro";
    text-align: center;
}

.current_contenttype {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Josefin Sans';
}

.info {
    height: 100%;
    float: left;
    font-family: 'Josefin Sans';
    font-size: 5vw;
    display: flex;
    align-items: center;
}

.img_drop_right {
    margin-right: 8px;
}

.img_drop_left {
    margin-left: 8px;
}

#div_player_controls {
    width: 33.33%;
    justify-content: center;
    padding-right: 1.8%;
}

#div_search {
    width: 100%;
    height: 100%;
    justify-content: center;
}

#div_queue_overall {
    width: 49%;
    padding-right: 1%;
    justify-content: flex-end;
}

#div_cc_overall {
    justify-content: flex-start;
    margin-left: 1%;
    width: 32.33%;
}

.btn_controls {
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20px;
    height: 20px;
}

#div_chat_overall {
    justify-content: center;
    width: 100%;
    padding: 1%;
}

#div_chat_results {
    display: inline-block;
    width: 90%;
    bottom: 5%;
    height: 80vh;
    overflow: auto;
}

#ul_chat {
    margin: 2%;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 85%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #ff4f39;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #ff4f39;
}

#div_error {
    display: none;
}

#p_searching {
    text-align: center;
    margin: 3%;
    color: cornflowerblue;
}

.play_btn {
    width: 0;
    height: 0;
    border-top: 96px solid transparent;
    border-left: 144px solid white;
    border-bottom: 96px solid transparent;
}

.pause_btn {
    width: 48px;
    height: 192px;
    border-right: 48px solid white;
    border-left: 48px solid white;
}

.div_inner_podcast_player {
    display: flex;
    width: 100%;
    background-color: #ff4f39;
    padding: 2vw;
}

#cc_title {
    display: flex;
    margin-left: 2vw;
    font-size: 6vw;
    color: white;
    align-items: center;
}

#cc_show {
    font-size: 2vh;
    color: white;
    margin: 0;
    padding-left: .1vw;
    text-align: center;
    display:none;
}

#cc_time {
    display: none;
    text-align: center;
}

.time {
    font-size: 3.5vw;
    color: white;
    text-align: center;
}


#cc_duration {
    display: none;
}

#cc_info {
    margin: 0;
    padding: 0;
    font-size: 0;
}

#canvas_progress {
    background: #ffa79c;
    width: 100vw;
    height: 10%;
    cursor: pointer;
    font-size: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#btn_play_pause {
    display: inline-block;
    cursor: pointer;
    margin-right: 1%;
}

#btn_next {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 36px solid white;
    border-bottom: 24px solid transparent;
    position: absolute;
    right: 1vw;
}

#btn_previous {
    width: 0;
    height: 0;
    position: absolute;
    left: 1vw;
    border-top: 24px solid transparent;
    border-right: 36px solid white;
    border-bottom: 24px solid transparent;
}

#btn_previous:hover {
    border-right: 20px solid blue;
}

.span_delete {
    color: red;
    padding: 1%;
    cursor: pointer;
}

    .span_delete:hover {
        background: grey;
    }

.chat > span {
    font-size: 5vw;
}

.class:focus {
    outline: none;
}

li:focus {
    outline: none;
}

#p_queue_summary {
    padding: 0;
}

.queue_result_selected {
    border-right: 40px solid #ffa79c;
}

.span_sel {
    display: inline-block;
    font-size: 7vw;
    width: 33.33vw;
    text-align: center;
}

#div_sel {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    display: inline-block;
    height: 5.5vh;
    width: 100vw;
}

#div_stuff {
    display: inline-block;
    height: 74vh;
    width: 100vw;
}

#div_current_content {
    display: inline-block;
    width: 100vw;
    height: 17.5vh;
    font-size: 0;
    border: 0;
}

.sel_selected {
    border-bottom: 10px solid #ffa79c;
}
